<html>
<head>
    <meta charset="UTF-8">
    <title>My Now Amazing Webpage</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
    <style>
        img {
            max-width: 100%;
            max-height: 100%;
            margin: 0 auto;
        }

        .apple {
            width: 100px;
        }
    </style>
</head>

<!--
    <a href="http://imgur.com/0ZvDLAK"><img data-lazy="http://i.imgur.com/0ZvDLAK.jpg"
                                            title="source: imgur.com"
                                            preserveAspectRatio="xMidYMid slice"/></a>
    <a href="http://imgur.com/2lNNvjP"><img src="http://i.imgur.com/2lNNvjP.jpg"
                                            title="source: imgur.com"
                                            preserveAspectRatio="xMidYMid slice"/></a>
-->


<body style="background-color:#333739;">

<div class="big" style="height: 400px; width: 400px; background-color: black; margin:0 auto;">
    <div class="album1 apple" style="background-color:red; ">your content 1</div>
    <div class="album1" style="background-color:orangered;">your content 2</div>
    <div class="album1" style="background-color:orange;">your content 3</div>
    <div class="album1" style="background-color:yellow;">your content 4</div>
    <div class="album1" style="background-color:greenyellow;">your content 5</div>
    <div class="album1" style="background-color:green;">your content 6</div>
    <div class="album2" style="background-color:dodgerblue;">your content 7</div>
    <div class="album2" style="background-color:blue;">your content 8</div>
    <div class="album2" style="background-color:purple;">your content 9</div>
    <div class="album2" style="background-color:deeppink;">your content 9</div>
    <div class="album2" style="background-color:hotpink;">your content 9</div>
    <div class="album2" style="background-color:pink;">your content 9</div>
</div>

<div class="slider" style="width: 95%; height: 200px; margin:0 auto;">
    <div class="album1" style="background-color:red; ">your content 1</div>
    <div class="album1" style="background-color:orangered;">your content 2</div>
    <div class="album1" style="background-color:orange;">your content 3</div>
    <div class="album1" style="background-color:yellow;">your content 4</div>
    <div class="album1" style="background-color:greenyellow;">your content 5</div>
    <div class="album1" style="background-color:green;">your content 6</div>
    <div class="album2" style="background-color:dodgerblue;">your content 7</div>
    <div class="album2" style="background-color:blue;">your content 8</div>
    <div class="album2" style="background-color:purple;">your content 9</div>
    <div class="album2" style="background-color:deeppink;">your content 9</div>
    <div class="album2" style="background-color:hotpink;">your content 9</div>
    <div class="album2" style="background-color:pink;">your content 9</div>
</div>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

<a href="javascript:void(0)" class="button js-filter">Filter Slides</a>
<a href="javascript:void(0)" class="button js-filter2">Filter Slides</a>

<script type="text/javascript">
    $('.big').slick({
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        fade: true,
        asNavFor: '.slider',
        onReInit: function () {
            $('.big').slickGoTo(0); // this doesnt work after slickFilter
        }
    });
    $(document).ready(function () {
        $('.slider').slick({
            infinite: true,
            arrows: true,
            slidesToShow: 5,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 200,
            asNavFor: '.big',
            focusOnSelect: true,
            onReInit: function () {
                $('.slider').slickGoTo(0); // this doesnt work after slickFilter
            }
        });
    });

    var filtered = false;

    $('.js-filter').on('click', function () {
        if (filtered === false) {
            $('.slider').slick('slickUnfilter');
            $('.big').slick('slickUnfilter');
            $('.slider').slick('slickFilter', '.album1');
            $('.big').slick('slickFilter', '.album1');
            $(this).text('Unfilter Slides');
            //filtered = true;
        } else {
            $('.slider').slick('slickUnfilter');
            $(this).text('Filter Slides');
            filtered = false;
        }
    });

    $('.js-filter2').on('click', function () {
        if (filtered === false) {
            $('.slider').slick('slickUnfilter');
            $('.big').slick('slickUnfilter');
            $('.slider').slick('slickFilter', '.album2');
            $('.big').slick('slickFilter', '.album2');
            $(this).text('Unfilter Slides');
            //filtered = true;
        } else {
            $('.slider').slick('slickUnfilter');
            $(this).text('Filter Slides');
            filtered = false;
        }
    });
</script>

</body>
</html>